table, th, td{
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
    border-collapse: collapse;
    vertical-align: middle;
    text-align:center;
}

tbody tr:hover{
    background-color:lightgray;
}

.Panel{
    background-color:white;
    border: 1px solid black;
    display:block;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.Delete{
    width:300px;
    height:150px;
    text-align:center;    
}

.Edit{
    width: 600px;
    height: 400px;
    padding:10px;
}

.noscroll { 
    position: fixed; 
    overflow-y:scroll; 
}

.button{
    position:absolute;
    padding:5px;
    text-align:center;
    font-family:Arial;
    color:white;
    font-size: 16px;
    background:#0066FF;
    border:0px;
}

.yes{
    left:50px;
    top:100px;
    width:50px;
    display: block;
}

.no{
    right:50px;
    top:100px;
    width:50px;
    display: block;
}

.button:hover{
    background:#004AB8;
}

.NOTvisible{
    visibility:hidden;
}

.text{
    font-size:20px;
    top:10px;
}

.title{
    text-align:center;
    background-color:#3399FF;
    width: calc(100% + 2px);
    position:absolute;
    top:-1px;
    left:-1px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    font-family:Arial;
}

.Edit p{
    font-size:16px;
}

.Edit span{
    font-size:20px;
}

.BTNS{
    position:relative;
    left: -100px;
    float:right;
    display:block;
    margin-top:-30px
}

.BTNS li{
    display:inline;
    margin-left:60px;
}

.Error{
    color:red;
}